<div class="container-fluid">
    <div class="footer">
        <ul>
            <li><a href="https://www.linkedin.com/in/jos%C3%A9-higor-germano-de-sousa-4763ba15b/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>Linkedin</a></li>
            <li><a href="https://github.com/josehigor27" target="_blank"><i class="fa-brands fa-square-github"></i>GitHub</a></li>
            <li><a href="https://wa.me/+5561983491071" target="_blank"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a></li>
            <li><i class="fa-solid fa-square-envelope"></i>jose.higor@outlook.com.br</li>
            
        </ul>
    </div>
</div>